:root{
    --font-one: 'Lobster Two', cursive;
}

.header {
    display: flex;
    justify-content: center;
    height: 10em;
    width: 100%;
    background-color: white;
    opacity: .7;
    margin: 0;
    padding: 0;
    margin-left: .15rem;
    
    
}
#overlay {
    display: flex;
    justify-content: center;
    font-family: var(--font-one);
    color: black;
    text-align: center;
    margin-top: -.5em;
}

#sortingHatBody {
    background-image: url(./Assets/library-948965.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.main{
    background-image: url(./Assets/library-948965.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top 5%;
    
    
}

#hogwartsBody {
    background-image: url(./Assets/usj-1925191.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#sortingHatButton {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    font-family: 'Lobster Two', cursive;
     cursor: url(./Assets/hat-3751721.png), default;
    
}



button:hover {
    cursor: url(./Assets/hat-3751721.png), default;

}

button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: white;
    outline: black solid .5px;
    padding: 6px 11px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    font-weight: 100;
    border: none;
    cursor: pointer;
    opacity: .8;
    font-size: 15px;
    font-family: 'Lobster Two', cursive;
    width: 15em;
    height: 6em;
    
  }

  button:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid .5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

button:hover:before, button:focus:before, button:active:before {
    top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

button, a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    z-index: 2;
}

#showHogwartsHouse {
    display: flex;
    justify-content: center;
    opacity: .8;
    margin-top: 1rem;
    height: 30em;
    padding: .2em;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    align-content: center;
    font-size: 15px;
    
}

#newHouse {
    align-content: center;
}

#enter {
    margin-top: -1.5rem;
}

#newOverlay {
    background: black;
    margin-top: 7.5%;
    width: 50%;
    height: 60%;
    align-content: center;
    opacity: 1;
    font-size: 15px;
    font-weight: 100;

}
#getHouseMates{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 6%;
    margin-left: 30%;
    font-family: 'Lobster Two', cursive;
    cursor: url(./Assets/hat-3751721.png), default;
    font-size: 17px;
    font-weight: 100;
}

#charactersBody {
    size: auto;
    background-image: url(./Assets/harry-potter-2348767.jpg);
    background-color: slategrey;
    background-size: 100%;
    background-repeat: no-repeat;
}

.dropdownButton {
    display: block;
    margin-top: 15%;
    margin-left: 42%;
    cursor: pointer;
}

.dropdownContents {
        width: 17em;
        height: 300em;
        margin-left: 39.5%;
        scroll-behavior: auto;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        cursor: pointer;
}

.show {display:block;}

#characters {
    font-family: var(--font-one);
}

#spell {
    margin-top: 3%;
}
